@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #fdfdfd;
    --text--color: #333;
    --sub--text--color: gray;
    /* --main-color:#754ef9; */
    /* --main-color:#50B498; */
    /* --main-color:#E48586; */
    --main-color:#3776b6;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);

}
.dark-mode{
    --bg-color: #0b061f;
    --text--color: #fdfdfd;
    --sub--text--color: gray;
     --main-color:#f5b041;
    --white-color: #fdfdfd;
    --shadow-color: rgba(255, 247, 247, 0.5);
}

html {
    font: size 62.5%;
    overflow-x: hidden;

}
body{
    background-color: var(--bg-color);
    color: var(--text--color);
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 95%;
    margin: 5px 30px 5px 40px;
    border-radius: 1rem;
    padding: 1rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background-color: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a{
    position: relative;
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 2.2rem;
}

.header.sticky .navbar a{
    color: var(--text--color);

}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: .2rem;
    background-color: var(--white-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .8;
}

#darkMode-icon{
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}
.header.sticky #darkMode-icon{
    color: var(--text--color);
    opacity: .9;
}
/*================= Menu Icon */

#menu-icon{
    font-size: 3rem;
    color: var(--text--color);
    display: none;

}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 30rem;
}

.home-content h3{
    font-size: 1.5rem;    
    font-weight: 700;
    line-height: .3;
    /* color: var(--sub--text--color); */
    color: var(--text--color);
    /* margin-bottom: .5rem; */
}

.home-content h1{
    font-size: 4rem;
    font-weight: 700;
        
    
}

.home-content p{
    font-size: 1rem;
    /* color: var(--sub--text--color); */
    color: var(--text--color);

}

.home-content .social-media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--main-color);
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--main-color);
    margin: 1.2rem 1.5rem 2rem 0;
    transition: .5s ease;

}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: .7rem 1.5rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: .2rem solid transparent;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--white-color);
    transition: .5s ease;
}

.btn:hover{
    color: var(--main-color);
    background: transparent;
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 728px;
    height: 728px;
    /* background: blue; */
    overflow: hidden;
    pointer-events: none;

}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 728px;
    height: 728px;
    /* background: yellow; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRoute 13s ease-out infinite;
}
@keyframes professionRoute {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg /4 *var(--i)));
    transform-origin: 364px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession::nth-child(1) i,
.home .profession-box .profession::nth-child(2) i,
.home .profession-box .profession::nth-child(3) i,
.home .profession-box .profession::nth-child(4) i{
    margin-right: 15px;
}
.home .profession-box .profession::nth-child(1),
.home .profession-box .profession::nth-child(2),
.home .profession-box .profession::nth-child(3),
.home .profession-box .profession::nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i{
    font-size: 1.7rem;
}
.home .profession h3{
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 600;
}
.home .profession-box .circle{
    width: 560px;
    height: 560px;
    /* background: red; */
    border: 3px solid var(--main-color);
    border-radius: 50%;


}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 364px solid var(--main-color) ;
    border-right: 364px  solid var(--main-color);
    border-bottom: 364px  solid var(--main-color);
    border-left: 364px  solid transparent;


}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    pointer-events: none;
}

/* ====================== ABOUT ==================== */

span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 40vw;
}
.heading{
    font-size: 2.3rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 1.2rem;
    /* color: var(--sub--text--color); */

}
.about-content p{
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
}
/* ====================== EDUCATION ==================== */

.education .education-content .heading{
    min-height: auto;
    padding-bottom: 3rem;
}
.education .education-content {
    text-align: center;
    width: 100%;
}
.education .education-content
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    width: 100%; 
    max-width: 550px; 
}
.timeline-content:hover {
    transform: scale(1.01);
    box-shadow: .5rem 0 1rem var(--main-color);
}

.year {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-right: 20px;
    font-weight: bold;
}

.point-line {
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.point-line::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.point-line::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: var(--main-color);
    z-index: 0;
    height: 100%; /* Extend line through the entire timeline */
}

/* Extend the line downwards from each point except the last */
.timeline-item:not(:last-child) .point-line::after {
    height: calc(100% + 180px); /* Adds space between each point */
}

.timeline-content {
    padding: 20px;
    background: rgba(102, 0, 255, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    max-width: 400px;
    width: 100%; 
    text-align: left;
    transition: .5s ease;
}

.timeline-content h2 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.timeline-content h4 {
    font-size: 1.05rem;
    margin-bottom: 5px;
}

.timeline-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--main-color);
}

/* ========================= Achievement ================== */
.achievement{
    min-height: auto;
    padding-bottom: 7rem;
}
.achievement h2{
    margin-bottom: 3rem;
}

.achievement .achievement-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.achievement-container .achievement-box{
    flex: 1 1 20rem;
    background: var(--bg-color);
    padding: 2rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    transition: .5s ease;
}

.achievement-container .achievement-box:hover{
    box-shadow: .5rem 0 1rem var(--main-color);
    transform: scale(1.01);
}
.achievement-box i{
    font-size: 4rem;
    color: var(--main-color);
}
.achievement-box span,
.achievement-box span i{
    color: var(--main-color);
    font-size: 1rem;
}

.achievement-box h3{
    font-size: 1.rem;
    transition: .5s ease;
}

.achievement-box:hover h3{
    color: var(--main-color);
}


.achievement-box p{
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
}


/* ========================= Skills ================== */
.allskills{
    min-height: auto;
    padding-bottom: 7rem;
}
.allskills h2{
    margin-bottom: 3rem;
}

.allskills .allskills-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.allskills .allskills-container .all-skills-item{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.allskills-container .allskills-box{
    flex: 1 1 20rem;
    background: var(--bg-color);
    padding: 2rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .3rem solid var(--main-color);
    border-bottom: .3rem solid var(--main-color);
    transition: .5s ease;
}

.allskills-box i{
    font-size: 4rem;
    color: var(--main-color);
}

.all-skills-item i{
    font-size: 2rem;
    color: var(--main-color);
}
.all-skills-item:hover i{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.allskills-box h3{
    font-size: 1.5rem;
    transition: .5s ease;
    margin-bottom: 30px;
}

.allskills-box:hover h3{
    color: var(--main-color);
    
}
.allskills-box:hover{
    box-shadow: .5rem 0 .5rem var(--main-color);
    
}


.allskills-box p{
    margin: .5rem 0 1rem ;
}
.all-skills-item p {
    position: relative; 
    display: inline-block; 
    font-size: 1rem; 
    color: var(--text--color); 
}
.all-skills-item p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px; 
    background-color: var(--main-color); 
    transition: width 0.3s ease-in-out; 
}
/* .all-skills-item p:hover::after {
    width: 100%; 
} */
.all-skills-item:hover p::after {
    width: 100%;
}

/* ========================= Skills ================== */
.skills{
    min-height: auto;
    padding-bottom: 7rem;
}
.skills h2{
    margin-bottom: 3rem;
}

.skills .skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box{
    flex: 1 1 20rem;
    background: var(--bg-color);
    padding: 2rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .3rem solid var(--main-color);
    border-bottom: .3rem solid var(--main-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.skills-box i{
    font-size: 4rem;
    color: var(--main-color);
}

.skills-box h3{
    font-size: 1.4rem;
    transition: .5s ease;
}

.skills-box:hover h3{
    color: var(--main-color);
}


.skills-box p{
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
}

/* ========================= Portfolio ======================== */
.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    padding-bottom: 3rem;
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 1.7rem;
}
.portfolio-layer p{
    font-size: 1rem;
    margin: .3rem 0 1.5rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 1.5rem;
}

/* =========================== Certificate ======================== */

.certificate-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.certificate-container .certificate-wrapper{
    position: relative;
    max-width: 70rem;
    width: 100%;
    padding: 1.7rem;
}

.certificate-wrapper .certificate-box {
    /* background: red; */
    padding: 1.8rem;
    border-radius: 2rem;
    overflow: hidden;
}

.certificate-content .certificate-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .3rem solid var(--main-color);
    border-bottom: .3rem solid var(--main-color);
    
}
.certificate-slide {
    text-align: center;
}

.image-container {
    position: relative;
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    overflow: visible; 
    border-radius: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid var(--bg-color);
    outline: 0.3rem solid var(--main-color);
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.image-container img:hover {
    transform: scale(1.02); 
    filter: brightness(1.2); 
}

.hover-text {
    position: absolute;
    top: 10%; 
    left: 156%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.image-container:hover .hover-text {
    opacity: 1;
    visibility: visible; /* Shows the text when hovering */
}

.image-container:hover img {
    transform: scale(1.1); /* Ensures scaling occurs with text visibility */
}



/* .certificate-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .3rem solid var(--bg-color);
    outline: .3rem solid var(--main-color);
}
.certificate-slide img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
} */

.certificate-slide h3{
    font-size: 1.7rem;
    margin: 1rem 0;
    
}
.certificate-slide p{
    font-size: 1rem;
    text-align: center;
    
}
.certificate-box .swiper-button-next,
.certificate-box .swiper-button-prev{
    color: var(--main-color);

}
.certificate-box .swiper-button-next{
    right: 0;
}
.certificate-box .swiper-button-prev{
    left: 0;
}
.certificate-box .swiper-pagination-bullet{
    background: rgba(0, 0, 0, .8);

}
.certificate-box .swiper-pagination-bullet-active{
    background: var(--main-color);
}
/* =========================== Pop UP=================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin-top: 3rem;
    margin-left: 19rem;
    border: .2rem solid var(--main-color);
    box-shadow: 0px 0px 15px var(--main-color); 
    border-radius: 1rem;
    right: 50%;
    display: block;
    max-width: 90%;
    max-height: 90%;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* ======================= Contact =============== */
.contact h2{
    margin: 3rem;
    
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text--color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .5rem .5rem var(--shadow-color);


}
.contact form .input-box input{
    width: 49%;
} 
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
    
}

/* ================== Footer ================= */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.2rem;
    color: var(--white-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transform: .5s ease;
}
.footer-iconTop:hover a{
    outline: .2rem solid var(--white-color);
}

.footer-iconTop a i {
    font-size: 1.7rem;
    color: var(--main-color);
}

/* =============== Break points ======================= */
@media (max-width: 1496px){
    html{
        font-size: 95%;
    }
}

@media (max-width: 1270px){
    html{
        font-size: 85%;
    }

    /* .home .profession-container{
        height: 80.5rem;
        

    } */
    .home .profession-container .home-img img{
        width: 50%;
        left: 29.5rem;
    }
    .home .profession-container .profession-box{
        right: -5rem;
        /* height: 80rem; */

    }
    .home .profession-container .overlay,
    .home .profession-container .circle{
        right: -4rem;
    }
    .navbar a:nth-child(1){
        color: var(--main-color);
    }
    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }
    

}
@media (max-width: 1154px){
    .home .profession-container .profession-box{
        right: -8rem;
        /* height: 80rem; */

    }
    .home .profession-container .home-img img{
        width: 46%;
        left: 35rem;
    }
}
/* ============== */
@media(max-width: 1100px){
    .header {
        padding: 2rem 3%;

    }
    section{
        padding: 10rem 3% 2rem;

    }
    .home .profession-container .profession-box{
        right: -8rem;

    }
    /* .home .profession-container .overlay{
        right: -1rem;
    } */

}

/* @media(max-width: 1024px){
    .header {
        padding: 2rem 3%;

    }
    section{
        padding: 10rem 3% 2rem;

    }
    .home .profession-container .profession-box{
        right: -22rem;

    }
    .home .profession-container .overlay{
        right: -15rem;
    }

} */

@media(max-width: 1055px){
    .navbar a:nth-child(1){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }
    .home .home-content{
        max-width: 28rem;
    }
    .home .profession-container .profession-box{
        right: -15rem;
    }
    .home .profession-container .overlay{
        /* right: -39.5rem; */
        right: 1rem;
    }
    /* .home-img img {
        display: none;
    } */


}
@media(max-width: 930px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }
    .home .home-content{
        max-width: 28rem;
    }
    .home .profession-container .profession-box{
        right: -21rem;
    }
    .home .profession-container .overlay{
        /* right: -39.5rem; */
        right: 2rem;
    }
    .home-img img {
        display: none;
    }
    .skills,
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }

}
@media(max-width: 843px){
    /* html{
        font-size: 50%;
    } */
    .home .profession-container .profession-box{
        right: -29rem;
    }

    #menu-icon{
        display: block;
    }
    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2rem;
        color: var(--text--color);
        margin-bottom: .1rem;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: .1rem solid rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
        color: var(--text--color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text--color);
    }
    
    .navbar a.active{
        color: var(--main-color);
    }
    .navbar a::before{
        display: none;
    }

}

@media(max-width: 725px){

    .home {
        padding: 0 3% 18rem;
        justify-content: center;
        text-align: center;
        
    }
    .home-content h3{
        font-size: 1rem;
    }

    .home-content h1{
        font-size: 2.5rem;
    }
    .home-content p{
        font-size: .8rem;
    }
    .home-content .social-media a{
        margin: 1rem .75rem 1rem;
        
    }
    .home-content .btn {
        font-size: 1rem;
    }
    .home .profession-container {
        left: 0;

        /* width: 100%;
        height: 100%; */
    }
    .home .profession-container .profession-box {
        position: fixed;
        top: 50%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }
    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
    }
    .home .profession-box .profession:nth-child(1) i{
        margin-right: 0;
    }
    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0px, -270px);
    }
    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
    }
    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }
    .home .profession-box .circle{
        /* position: fixed;
        width: 600px;
        height: 600px; */
        z-index: -1;
    }
    .home .profession-container .overlay {
        position: fixed;
        top: 42rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 30rem;
    }
    .about{
        flex-direction: column-reverse;
        text-align:center ;
    }
    .about-content h2{
        text-align: center;
    }
    .about-img img{
        width: 50vw;
        /* margin-top: -2rem; */
    }
    .skills h2,
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .certificate-container .certificate-wrapper{
        padding: 50px 0;
    }
    .certificate-content .certificate-slide{
        padding: 3rem 2rem;
    }
    .certificate-box .swiper-button-next,
    .certificate-box .swiper-button-prev{
        display: none;
    }
}

@media(max-width:700px){
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;

    }
}
@media(max-width:450px){
    html {
        font-size: 60%;
    }
    #darkMode-icon{
        right: 1rem;
    }
    .home{
        padding: 0 3% 30rem;
    }
    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px 220px);
    }
    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(5px -335px);
    }
    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-105px -440px);
    }
    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-210px -335px);
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media(max-width:365px){
    .about-img img{
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    section{
        padding: 10rem 4% *20rem;
        

    }

}